﻿@using WebDulich.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<WebDulich.Models.TINTUC>

@{
    ViewBag.Title = "Địa Danh | Biển Đảo";
    Layout = "~/Views/Shared/_LayoutVungmien.cshtml";
}

@section script {
    <!-- Full Page Image Background Carousel Header -->
    <header id="mainCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mainCarousel" data-slide-to="1"></li>
            <li data-target="#mainCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="slider_overlay"></div>
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/Assets/images/taynguyen_1.jpg');">
                </div>
            </div>
            <div class="item">

                <div class="slider_overlay"></div>
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/Assets/images/taynguyen2.jpg');">
                </div>
            </div>
            <div class="item">
                <div class="slider_overlay"></div>
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/Assets/images/taynguyen3.jpg');">
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#mainCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#mainCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
}

<h2 class="title-search">Du lịch Biển Đảo</h2>
<p>
    <strong>Du lịch Miền Bắc</strong> – Du khách sẽ được trải nghiệm một hành trình văn hóa đậm đà bản sắc cùng khung cảnh thiên nhiên tươi đẹp. <strong>Du lịch Miền Bắc</strong> ghé thăm Hà Nội ngàn năm văn hiến với Hồ Gươm, Tháp Rùa, Văn miếu Quốc Tử Giám ngàn năm tuổi. <strong>Du lịch Miền Bắc</strong> ghé thăm Làng cổ Đường Lâm để đi trên con đường nhỏ lát đá, hai bên đường là những ngôi nhà máu ngói rêu phong. <strong>Du lịch Miền Bắc</strong> không những quyến rũ du khách bằng cảnh đẹp thiên nhiên mà còn thu hút du khách bởi vẫn giữ được những nét văn hóa xưa cũ từ nếp sinh hoạt đến những lễ hội truyền thống còn lưu giữ muôn đời.
</p>

<h2 class="title-search">Danh sách các điểm du lịch</h2>

<div class="col-sm-12 col-md-12">
    @foreach (var item in Model)
    {
        if (item.LOAITIN.TENLOAI == "BIỂN ĐẢO")
        {
            <div id="box-vungmien" class="col-sm-6 col-md-6">
                <a href="@Url.Action("Chitiet","Diadanh", new { id = item.ID})">
                    <img src="@item.HINHANH" />
                </a>
                <div id="box-mota">
                    <a href="@Url.Action("Chitiet","Diadanh", new { id = item.ID})"><h4><b>@Html.DisplayFor(modelItem => item.TENTIN)</b></h4></a>
                    <h6>@Html.DisplayFor(modelItem => item.MOTA)</h6>
                </div>
                <div class="btn-toolbar text-center">
                    <a href="@Url.Action("Chitiet","Diadanh", new { id = item.ID})" role="button" class="button btn btn-success">Xem ngay</a>
                </div>
            </div>
        }
    }
</div>

<div class="col-sm-12 col-md-12 text-center">
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Biendao", new { page = page }))
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
</div>

