﻿@model  WebDulich.Models.TINTUC

@{
    ViewBag.Title = "Bài viết";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Full Page Image Background Carousel Header -->
<header id="mainCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mainCarousel" data-slide-to="1"></li>
        <li data-target="#mainCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="slider_overlay"></div>
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/Assets/images/slide2.jpg');">
            </div>
        </div>
        <div class="item">

            <div class="slider_overlay"></div>
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/Assets/images/slide1.jpg');">
            </div>
        </div>
        <div class="item">
            <div class="slider_overlay"></div>
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/Assets/images/slide3.jpg');">
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#mainCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#mainCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>

<div id="about">
    <div class="container">
        <div id="body">

            <section id="contentt" class="col-xs-12 col-lg-8">
                <h2 class="title_base">
                    <span>&bull;&nbsp;</span>@Model.LOAITIN.TENLOAI<span>&nbsp;&bull;&nbsp;</span>
                </h2>
                @if (Model.ID_USER != null)
            {
                    <p><h4><b>Người viết:</b> @Model.NGUOIDUNG.TENDN</h4></p>
                }
                else if (Model.ID_USERFB != null)
                {
                    <p><h4><b>Người viết:</b> @Model.NGUOIDUNGFB.TENDN</h4></p>
                }
                else
                {
                    <p><h4><b>Người viết: Admin </b></h4></p>
                }
                <div class="col-sm-12 col-md-12 text-left">

                    @Html.Raw(Model.NOIDUNG)

                </div>
                <h2 class="title-search">Ngày đăng: @Model.NGAYDANG</h2>

                <div class="col-sm-12 col-md-12">
                    <div class="fb-comments" data-href="" data-colorscheme="light" data-numposts="5" data-width="100%"></div>
                </div>

                <div id="fb-root"></div>
            </section>

            <section id="contentt" class="col-xs-12 col-lg-4 text-center">
                <h2 class="title-search text-center"> Xem bài viết liên quan </h2>
                @if (Model.LOAITIN.TENLOAI == "MIỀN BẮC")
                {
                    <a href="@Url.Action("Mienbac", "Diadanh")"> <h4>Xem tất cả >></h4></a>
                }
                @if (Model.LOAITIN.TENLOAI == "MIỀN TRUNG")
                {
                    <a href="@Url.Action("Mienbac", "Diadanh")"> <h4>Xem tất cả >></h4></a>
                }
                @if (Model.LOAITIN.TENLOAI == "MIỀN NAM")
                {
                    <a href="@Url.Action("Mienbac", "Diadanh")"> <h4>Xem tất cả >></h4></a>
                }
                @if (Model.LOAITIN.TENLOAI == "MIỀN TÂY")
                {
                    <a href="@Url.Action("Mienbac", "Diadanh")"> <h4>Xem tất cả >></h4></a>
                }
                @if (Model.LOAITIN.TENLOAI == "TÂY NGUYÊN")
                {
                    <a href="@Url.Action("Mienbac", "Diadanh")"> <h4>Xem tất cả >></h4></a>
                }
                @if (Model.LOAITIN.TENLOAI == "BIỂN ĐẢO")
                {
                    <a href="@Url.Action("Mienbac", "Diadanh")"> <h4>Xem tất cả >></h4></a>
                }
                @if (Model.LOAITIN.TENLOAI == "TIN TỨC")
                {
                    <a href="@Url.Action("Mienbac", "Diadanh")"> <h4>Xem tất cả >></h4></a>
                }
                <hr />

                <h2 class="title-search text-center"> Vùng miền </h2>
                <a href="@Url.Action("Mienbac", "Diadanh")"> <h4>Du lịch Miền Bắc</h4></a>
                <hr />
                <a href="@Url.Action("Mientrung", "Diadanh")"> <h4>Du lịch Miền Trung</h4></a>
                <hr />
                <a href="@Url.Action("Miennam", "Diadanh")"> <h4>Du lịch Miền Nam</h4></a>
                <hr />
                <a href="@Url.Action("Mientay", "Diadanh")"> <h4>Du lịch Miền Tây</h4></a>
                <hr />
                <a href="@Url.Action("Taynguyen", "Diadanh")"> <h4>Du lịch Tây Nguyên</h4></a>
                <hr />
                <a href="@Url.Action("Biendao", "Diadanh")"> <h4>Du lịch Biển Đảo</h4></a>
                <hr />
                
                <div class="fb-page" data-href="https://www.facebook.com/kpdulichvn/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/asstorevn/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/kpdulichvn/">Khám Phá Du Lịch Việt Nam</a></blockquote></div>
            </section>



            @*<aside class="sidebar small-sidebar left-sidebar">

                    <ul>
                        <li>
                            <ul>
                                <li class="text-center">
                                    <span style="color:#fff; font-size:30px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Vùng Miền</span>
                                    <hr />
                                    <ul>
                                        <li><a href="@Url.Action("Mienbac", "Diadanh")"> <h4>Du lịch Miền Bắc</h4></a></li>
                                        <li><a href="@Url.Action("Mientrung", "Diadanh")"> <h4>Du lịch Miền Trung</h4></a></li>
                                        <li><a href="@Url.Action("Miennam", "Diadanh")"> <h4>Du lịch Miền Nam</h4></a></li>
                                        <li><a href="@Url.Action("Mientay", "Diadanh")"> <h4>Du lịch Miền Tây</h4></a></li>
                                        <li><a href="@Url.Action("Taynguyen", "Diadanh")"> <h4>Du lịch Tây Nguyên</h4></a></li>
                                        <li><a href="@Url.Action("Biendao", "Diadanh")"> <h4>Du lịch Biển Đảo</h4></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="fb-page" data-href="https://www.facebook.com/kpdulichvn/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/asstorevn/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/asstorevn/">As Shop - Quần áo thể thao Nike, Adidas</a></blockquote></div>

                </aside>*@



        </div>
    </div>
</div>



