﻿@using WebDulich.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<WebDulich.Models.TINTUC>

@{
    ViewBag.Title = "Địa Danh | Miền Trung";
    Layout = "~/Views/Shared/_LayoutVungmien.cshtml";
}

@section script {
    <!-- Full Page Image Background Carousel Header -->
    <header id="mainCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mainCarousel" data-slide-to="1"></li>
            <li data-target="#mainCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="slider_overlay"></div>
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/Assets/images/mientrung_1.jpg');">
                </div>
            </div>
            <div class="item">

                <div class="slider_overlay"></div>
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/Assets/images/mientrung_2.jpg');">
                </div>
            </div>
            <div class="item">
                <div class="slider_overlay"></div>
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/Assets/images/mientrung_3.jpg');">
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#mainCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#mainCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
}

<h2 class="title-search">Du lịch Miền Trung</h2>
<p>
    <strong>Du lịch Miền Trung</strong> được rất nhiều du khách trong, ngoài nước yêu thích bởi nét đẹp hoang sơ cùng nền văn hóa đậm đà bản sắc dân tộc. <strong>Du lịch Miền Trung </strong>hấp dẫn du khách với các điểm đến lừng danh như: Thánh địa Mỹ Sơn; Phố cổ Hội An, Kinh thành Huế hay Khu bảo tồn thiên nhiên Phong Nha - Quãng Bình...<strong> Du lịch Miền Trung </strong>còn nổi tiếng với những bờ biển xanh trong dọc theo chiều dài đất nước. Đến với <strong>Du lịch Miền Trung</strong> để một lần được đi thuyền nghe ca Huế trên sông Hương hay hoài niệm với những con phố rêu phong nơi phố Hội để rồi thỏa sức nô đùa cùng biển khơi.
</p>

<h2 class="title-search">Danh sách các điểm du lịch</h2>

<div class="col-sm-12 col-md-12">
    @foreach (var item in Model)
    {
        if (item.LOAITIN.TENLOAI == "MIỀN TRUNG")
        {
            <div id="box-vungmien" class="col-sm-6 col-md-6">
                <a href="@Url.Action("Chitiet","Diadanh", new { id = item.ID})">
                    <img src="@item.HINHANH" />
                </a>
                <div id="box-mota">
                    <a href="@Url.Action("Chitiet","Diadanh", new { id = item.ID})"><h4><b>@Html.DisplayFor(modelItem => item.TENTIN)</b></h4></a>
                    <h6>@Html.DisplayFor(modelItem => item.MOTA)</h6>
                </div>
                <div class="btn-toolbar text-center">
                    <a href="@Url.Action("Chitiet","Diadanh", new {id = item.ID})" role="button" class="button btn btn-success">Xem ngay</a>
                </div>
            </div>
        }
    }
</div>

<div class="col-sm-12 col-md-12 text-center">
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Mientrung", new { page = page }))
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>



</div>
