﻿@model  WebDulich.Models.TINTUC

@{
    ViewBag.Title = "Khám Phá | Đăng Nhập";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    <!-- main -->
    <div class="main">
        <h4 style="color:red; text-align:center">@ViewBag.Thongbao</h4>
        <div class="login-form">
            <h2>Đăng Nhập</h2>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <div class="agileits-top">
                    <div class="styled-input">
                        <font color="red">
                            @ViewData["Loi1"]
                        </font>
                        @Html.TextBox("TENDN")
                        <label>Tên đăng nhập</label>
                        <span></span>
                    </div>
                    <div class="styled-input">
                        <font color="red">
                            @ViewData["Loi2"]
                        </font>
                        @Html.Password("PASS")
                        <label>Mật khẩu</label>
                        <span></span>
                    </div>
                    <div class="wthree-text">
                        <ul>
                            <li> <a href="@Url.Action("Quenmatkhau","UserAccount")">Quên mật khẩu?</a> </li>
                        </ul>
                        <div class="clear"> </div>
                    </div>
                </div>
                <div class="agileits-bottom">
                    <input type="submit" value="Đăng Nhập">
                </div>
            }
            <br />
            <div>
                <ul>
                    <li class="text">
                        <p style="margin: 0;">Nếu bạn chưa có tài khoản, hãy đăng ký tài khoản bằng đường dẫn bên dưới.</p>
                    </li>
                </ul>
                <a type="button" class="btn btn-success" href="@Url.Action("Dangky","UserAccount")">Tạo tài khoản</a>
            </div>
            <br />
            <a class="btn btn-facebook" href="/UserAccount/LogInFacebook">
                <i class="fa fa-facebook"></i>
                Đăng Nhập Bằng FaceBook
            </a>
            <br />
            <br />
            <a class="btn btn-google" href="/UserAccount/LogInFacebook">
                <i class="fa fa-google-plus"></i>
                Đăng Nhập Bằng Gmail
            </a>
        </div>
    </div>
    <!-- //main -->
</div>

