﻿
@{
    ViewBag.Title = "Noiquy";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<header id="mainCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mainCarousel" data-slide-to="1"></li>
        <li data-target="#mainCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="slider_overlay"></div>
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/Assets/images/slide2.jpg');">
            </div>
        </div>
        <div class="item">

            <div class="slider_overlay"></div>
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/Assets/images/slide1.jpg');">
            </div>
        </div>
        <div class="item">
            <div class="slider_overlay"></div>
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/Assets/images/slide3.jpg');">
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#mainCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#mainCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>

<div id="about">
    <div class="main-content">
        <h2 class="title_base text-center">Phương Pháp Đăng Bài Trên Dulichvietnam.com</h2>
        <h1 style="color: rgb(68, 68, 68); font-style: normal; text-align: justify;"><span style="color:#0000ff"><span style="font-family:Comic Sans MS,cursive">Th&acirc;n ch&agrave;o c&aacute;c bạn!</span></span></h1>

        <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">Sau một thời gian d&agrave;i hoạt động website Dulichvietnam.com đ&atilde; nhận nhiều sự quan t&acirc;m từ c&aacute;c bạn gần xa. Với phương ch&acirc;m&nbsp;<strong>Chia sẻ Kinh nghiệm Du lịch</strong>, đến nay website Dulichvietnam.com đ&atilde; gi&uacute;p được kh&aacute; nhiều bạn c&oacute; những chuyến đi th&agrave;nh c&ocirc;ng. Đ&atilde; c&oacute; nhiều bạn gửi email&nbsp; cho ch&uacute;ng t&ocirc;i chia sẻ v&agrave; động vi&ecirc;n, mỗi lần nhận được thư quan t&acirc;m từ ph&iacute;a c&aacute;c bạn ch&uacute;ng t&ocirc;i lại c&oacute; động lực hơn để tiếp tục viết b&agrave;i chia sẻ với c&aacute;c bạn. Do đ&oacute;, để Dulichvietnam.com c&oacute; nhiều th&ocirc;ng tin bổ &iacute;ch hơn nữa ch&uacute;ng t&ocirc;i quyết định viết lời nhắn n&agrave;y với hy vọng sẽ c&oacute; nhiều bạn tham gia&nbsp;<strong>Cộng t&aacute;c viết b&agrave;i</strong>&nbsp;tr&ecirc;n trang Dulichvietnam.com. Bởi nếu c&oacute; nhiều người c&ugrave;ng chia sẻ chắc hẳn th&ocirc;ng tin sẽ lu&ocirc;n cập nhật v&agrave; đầy đủ hữu &iacute;ch hơn.</span></span></p>

        <h2 style="font-style:normal; text-align:justify"><span style="color:#0000ff"><span style="font-family:Comic Sans MS,cursive">Nội dung b&agrave;i viết</span></span></h2>

        <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">B&agrave;i viết chia sẻ kinh nghiệm du lịch về 1 điểm đến. Những kinh nghiệm n&agrave;y c&oacute; thể do bạn&nbsp;<strong>tự trải nghiệm v&agrave; chia sẻ</strong>, hoặc&nbsp;<strong>tổng hợp lại từ những nguồn kh&aacute;c</strong>. Nội dung&nbsp;<em>mẫu </em>bạn c&oacute; thể đọc qua những b&agrave;i viết cũ của ch&uacute;ng t&ocirc;i (Với những b&agrave;i tổng hợp th&ocirc;ng tin th&igrave; c&aacute;c bạn cố gắng c&oacute; nhiều th&ocirc;ng tin cụ thể v&agrave; ch&iacute;nh x&aacute;c).</span></span></p>

        <p style="text-align:justify"><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">B&agrave;i viết Review về những kh&aacute;ch sạn hoặc qu&aacute;n ăn m&agrave; bạn đ&atilde; d&ugrave;ng trong chuyến du lịch của bạn. B&agrave;i viết&nbsp;<strong>review theo đ&uacute;ng trải nghiệm của bạn</strong>, mang t&iacute;nh kh&aacute;ch quan.</span></span></p>

        <ul>
            <li style="text-align: justify;"><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">Ti&ecirc;u đề b&agrave;i viết: (Tối đa kh&ocirc;ng qu&aacute; 100 k&iacute; tự)</span></span></li>
            <li style="text-align: justify;"><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">Nội dung m&ocirc; tả: (Tối đa kh&ocirc;ng qu&aacute; 200 k&iacute; tự)</span></span></li>
            <li style="text-align: justify;"><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">Ảnh b&igrave;a</span></span></li>
            <li style="text-align: justify;"><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">Ng&agrave;y đăng: Chọn ng&agrave;y hiện tại đăng</span></span></li>
            <li style="text-align: justify;">
                <span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">Nội dung b&agrave;i viết:</span></span>
                <ul>
                    <li style="text-align: justify;"><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">Tiều đề b&agrave;i viết: (Lấy t&ecirc;n của b&agrave;i viết ở mục tr&ecirc;n, cỡ chữ 30, in đậm).</span></span></li>
                    <li style="text-align: justify;"><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">Nội dung m&ocirc; tả: (Cỡ chữ 20, in nghi&ecirc;ng).</span></span></li>
                    <li style="text-align: justify;"><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">Nội dung c&oacute; k&egrave;m h&igrave;nh ảnh</span></span></li>
                </ul>
            </li>
        </ul>

        <h2 style="font-style:normal; text-align:justify"><span style="color:#0000ff"><span style="font-family:Comic Sans MS,cursive">Y&ecirc;u cầu b&agrave;i viết</span></span></h2>

        <ul>
            <li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">B&agrave;i viết&nbsp;<strong>kh&ocirc;ng được sao ch&eacute;p</strong>&nbsp;từ c&aacute;c trang web kh&aacute;c.</span></span></li>
            <li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">B&agrave;i viết c&oacute; h&igrave;nh ảnh m&igrave;nh họa</span></span></li>
            <li><span style="font-size:18px"><span style="font-family:Times New Roman,Times,serif">B&agrave;i viết sẽ&nbsp;<strong>được kiểm duyệt</strong>&nbsp;trước khi đăng. C&aacute;c t&aacute;c giả tự chịu tr&aacute;ch nhiệm về nội dung (kh&ocirc;ng vi phạm luật ph&aacute;p Việt Nam, thuần phong mỹ tục v.v.v)</span></span></li>
        </ul>

    </div>
</div>

