﻿
@{
    ViewBag.Title = "Lấy Lại Mật Khẩu";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    <!-- main -->
    <div class="main">

        <div class="login-form">
            <h2>Lấy Lại Mật Khẩu</h2>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <div class="agileits-top">

                    <div class="styled-input">
                        <font color="red">
                            @ViewData["Loi1"]
                            @ViewData["Loi2"]
                            @ViewData["Loi3"]
                        </font>
                        <input type="text" name="Email" />
                        <label>Mời nhập email:</label>

                        <span></span>
                    </div>

                    <div class="clear"> </div>
                </div>
                <div class="agileits-bottom">
                    <input type="submit" value="Đồng Ý" href="@Url.Action("Dangnhap","UserAccout")">
                </div>
            }

        </div>
    </div>
    <!-- //main -->
</div>
