﻿@model WebDulich.Models.BAIVIET
@using WebDulich.Models;

@{
    NGUOIDUNG nd = (NGUOIDUNG)Session["TaiKhoan"];
    NGUOIDUNGFB ndfb = (NGUOIDUNGFB)Session["TaiKhoanFB"];
}

@{
    ViewBag.Title = "Khám Phá | Viết Bài";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<header id="mainCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mainCarousel" data-slide-to="1"></li>
        <li data-target="#mainCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="slider_overlay"></div>
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/Assets/images/slide2.jpg');">
            </div>
        </div>
        <div class="item">

            <div class="slider_overlay"></div>
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/Assets/images/slide1.jpg');">
            </div>
        </div>
        <div class="item">
            <div class="slider_overlay"></div>
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/Assets/images/slide3.jpg');">
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#mainCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#mainCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>

<div id="about">
    <div class="container">
        <h2 class="title_base text-center">Viết Bài</h2>
        <label class="control-label col-sm-12 col-md-12 text-left" style="color:red"><i>Để viết bài vui lòng đọc kỹ nội dung hướng dẫn viết bài </i><a href="@Url.Action("Noiquy", "UserAccount")">tại đây</a></label>       
        <br />
        <br />
        @using (Html.BeginForm("Vietbai", "UserAccount", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "formCreate" }))
        {
            @Html.AntiForgeryToken()
            <label class="control-label col-sm-12 col-md-12 text-center" style="color:red">@ViewBag.Thongbao</label>
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-3" for="pwd">Loại tin:</label>
                    <div class="col-md-5">
                        @Html.DropDownListFor(model => model.ID_LOAI, ViewBag.listCate as IEnumerable<SelectListItem>, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3" for="pwd">Tiêu đề:</label>
                    <div class="col-md-5" >
                        @Html.EditorFor(model => model.TIEUDE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TIEUDE, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3" for="pwd">Mô tả:</label>
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.MOTA, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MOTA, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3" for="pwd">Hình ảnh:</label>
                    <div class="col-md-5">
                        <input type="file" name="hinh" class="form-control" />
                    </div>
                </div>

                @*<div class="form-group">
                    <label class="control-label col-md-3" for="pwd">Ngày đăng:</label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.EditorFor(model => model.NGAYDANG, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NGAYDANG, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@

                <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd">Nội dung:</label>
                    <div class="col-sm-7">
                        <textarea id="editor2" name="noidung" rows="3">
                            
                        </textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-7    ">
                       <label>
                           <input type="checkbox" name="r1" class="minimal">
                           Tôi đảm bảo rằng những đánh giá trên là trải nghiệm chân thực và cảm nhận khách quan của riêng tôi về địa điểm này. Tôi hiểu rằng Dulichvietnam.com có quy định nghiêm ngặt về những đánh giá không chân thật <a href="@Url.Action("Noiquy", "UserAccount")">Tìm hiểu thêm</a>
                       </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-6 col-md-10">
                        <input type="submit" value="Đăng bài" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

