﻿@model WebDulich.Models.BAIVIET

@{
    ViewBag.Title = "DeleteWrite";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section muc{
    Tin tức
}

@section muc1{
    Tin tức
}

@section chucnang{
    Xóa
}

<div class="container">
    <div class="box-body">
        <h2>Xác nhận thông tin cần xóa</h2>
        <hr />
        <div class="col-lg-10">
            <p><h4><b>- Tiêu đề:</b> @Model.TIEUDE</h4></p>
            @if (Model.ID_USER != null)
            {
                <p><h4><b>- Người viết:</b> @Model.NGUOIDUNG.TENDN</h4></p>
            }
            else
            {
                <p><h4><b>- Người viết:</b> @Model.NGUOIDUNGFB.TENDN</h4></p>
            }
            <p><h4><b>- Loại tin:</b> @Model.LOAITIN.TENLOAI</h4></p>
            <p><h4><b>- Mô tả:</b> @Model.MOTA</h4></p>
            <p><h4><b>- Ngày đăng:</b> @Model.NGAYDANG</h4></p>
            <p>
                <h4><b>- Hình ảnh:</b></h4><img src="@Model.ANHBIA" alt="hinh" />
            </p>
            <p><h4><b>- Nội dung:</b> @Html.Raw(@Model.NOIDUNG)</h4></p>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h3>Bạn có chắc chắn muốn xóa tin tức này?</h3>
        <div class="col-lg-offset-0">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "ListWrite")
        </div>
    }
    <br />
</div>
