﻿@model WebDulich.Models.NGUOIDUNGFB

@{
    ViewBag.Title = "DetailUser";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section muc{
    Người dùng
}

@section muc1{
    Người dùng
}

@section chucnang{
    Danh sách
}


<div class="container">
    <div class="box-body">
        <div class="col-lg-10">
            <p><h4><b>- Mã người dùng:</b> @Model.ID</h4></p>
            <p><h4><b>- Họ tên:</b> @Model.TEN</h4></p>
            <p><h4><b>- Tên đăng nhập:</b> @Model.TENDN</h4></p>
            <p><h4><b>- Email:</b> @Model.EMAIL</h4></p>
            
        </div>
    </div>
    <p>
        @Html.ActionLink("Sửa", "EditUser", new { id = Model.ID }) |
        @Html.ActionLink("Quay lại", "ListUser")
    </p>
</div>

