﻿@model WebDulich.Models.NGUOIDUNG

@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section muc{
    Tin tức
}

@section muc1{
    Tin tức
}

@section chucnang{
    Sửa
}


<div class="content">

    @using (Html.BeginForm("EditUser", "AdminManager", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "formCreate" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-3" for="pwd">Họ tên:</label>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.TEN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TEN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="pwd">Tên đăng nhập:</label>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.TENDN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TENDN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="pwd">Mật khẩu:</label>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.PASS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PASS, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="pwd">Email:</label>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="pwd">Số ĐT:</label>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.SODT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SODT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-10">
                    <input type="submit" value="Lưu" class="btn btn-success" /> |
                    @Html.ActionLink("Trở về", "ListUser")
                </div>
            </div>
        </div>
    }
</div>