﻿@model WebDulich.Models.TINTUC

@{
    ViewBag.Title = "Khám Phá | Sửa Tin Tức";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section muc{
    Tin tức
}

@section muc1{
    Tin tức
}

@section chucnang{
    Sửa
}


<div class="content">

    @using (Html.BeginForm("EditPost", "AdminManager", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "formCreate" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-3" name="ID_LOAI" for="pwd">Loại tin:</label>
                <div class="col-md-5">
                    @Html.DropDownListFor(model => model.ID_LOAI, ViewBag.listCate as IEnumerable<SelectListItem>, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" name="TENTIN" for="pwd">Tiêu đề:</label>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.TENTIN, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TENTIN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" name="MOTA" for="pwd">Mô tả:</label>
                <div class="col-md-5">
                    @Html.EditorFor(model => model.MOTA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MOTA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="pwd">Hình ảnh:</label>
                <div class="col-md-5">
                    <img src="@Model.HINHANH" alt="hinh" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="pwd">Hình ảnh thay đổi:</label>
                <div class="col-md-5">
                    <input type="text" name="hinh" id="HinhAnh" value="@Model.HINHANH" />
                    <input type="button" value="Chọn Ảnh ..." onclick="BrowseServer('');" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="pwd">Nội dung:</label>
                <div class="col-sm-7">
                    <textarea id="editor1" name="noidung" rows="3">
                        @Model.NOIDUNG
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-10">
                    <input type="submit" value="Lưu" class="btn btn-success" /> |
                    @Html.ActionLink("Trở về", "ListPost")
                </div>
            </div>
        </div>
    }
</div>