﻿@using WebDulich.Models;
@using PagedList.Mvc;

@model PagedList.PagedList<WebDulich.Models.TINTUC>

@{
    ViewBag.Title = "Khám phá | Danh sách Tin Tức";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section muc{
    Tin tức
}

@section muc1{
    Tin tức
}

@section chucnang{
    Danh sách
}

<div class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h2 class="box-title">Danh sách tin tức</h2>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @using (Html.BeginForm("SearchPost", "AdminManager", FormMethod.Get))
                    {
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="sTuKhoa" placeholder="Tìm kiếm...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">Tìm kiếm</button>
                                    </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                    }
                    <br />
                    <table id="example1" class="table table-bordered table-striped">
                        <tr>
                            <th>
                                STT
                            </th>
                            <th>
                                Tiêu đề
                            </th>
                            <th>
                                Loại tin
                            </th>
                            <th>
                                Ngày đăng
                            </th>
                            <th>
                                Hình ảnh
                            </th>
                            <th></th>
                        </tr>

                        @{
                                var stt = 0;
                        }
                        @foreach (var item in Model)
                        {
                            stt += 1;
                            <tr>
                                <td>
                                    @stt
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TENTIN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LOAITIN.TENLOAI)
                                </td>           
                                <td>
                                    @Html.DisplayFor(modelItem => item.NGAYDANG)
                                </td>
                                <td>
                                    <img src="@item.HINHANH" width="95" title="hình ảnh" />
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa", "EditPost", new { id = item.ID }) |
                                    @Html.ActionLink("Chi tiết", "DetailPost", new { id = item.ID }) |
                                    @Html.ActionLink("Xóa", "DeletePost", new { id = item.ID })
                                </td>
                            </tr>
                        }

                    </table>
                    <br />
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
                    <div class="MenuTrang">
                        @Html.PagedListPager(Model, page => Url.Action("ListPost", new { page = page }))
                    </div>
                    <style>
                        .MenuTrang li {
                            display: inline;
                        }
                    </style>
                </div>
                <!-- /.box-body -->

            </div>

        </div>
    </div>
</div>
