﻿@using WebDulich.Models;
@using PagedList.Mvc;

@model PagedList.PagedList<WebDulich.Models.TINNHAN>

@{
    ViewBag.Title = "Khám phá | Danh sách Tin Tức";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section muc{
    Tin nhắn
}

@section muc1{
    Tin nhắn
}

@section chucnang{
    Danh sách
}

<div class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h2 class="box-title">Danh sách tin nhắn</h2>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    @using (Html.BeginForm("SearchMessage", "AdminManager", FormMethod.Get))
                    {
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="sTuKhoa" placeholder="Tìm kiếm...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">Tìm kiếm</button>
                                    </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                    }
                    <br />
                    <label>Tìm kiếm với từ khóa "@ViewBag.TuKhoa"</label>
                    <table id="example1" class="table table-bordered table-striped">
                        <tr>
                            <th>
                                STT
                            </th>
                            <th>
                                Họ Tên
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Số ĐT
                            </th>
                            <th>
                                Nội Dung
                            </th>
                            <th></th>
                        </tr>

                        @{
                            var stt = 0;
                        }
                        @foreach (var item in Model)
                        {
                            stt += 1;
                            <tr>
                                <td>
                                    @stt
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HOTEN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EMAIL)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SODT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NOIDUNG)
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa", "EditMessage", new { id = item.ID }) |
                                    @Html.ActionLink("Chi tiết", "DetailMessage", new { id = item.ID }) |
                                    @Html.ActionLink("Xóa", "DeleteMessage", new { id = item.ID })
                                </td>
                            </tr>
                        }

                    </table>
                    <br />
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
                    <div class="MenuTrang">
                        @Html.PagedListPager(Model, page => Url.Action("SearchMessage", new { page = page }))
                    </div>
                    <style>
                        .MenuTrang li {
                            display: inline;
                        }
                    </style>
                </div>
                <!-- /.box-body -->

            </div>

        </div>
    </div>
</div>
