﻿
@using WebDulich.Models;
@model PagedList.PagedList<TINTUC>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Kết quả tìm kiếm";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- Full Page Image Background Carousel Header -->
<header id="mainCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mainCarousel" data-slide-to="1"></li>
        <li data-target="#mainCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="slider_overlay"></div>
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/Assets/images/slide1.jpg');">
            </div>
        </div>
        <div class="item">

            <div class="slider_overlay"></div>
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/Assets/images/slide2.jpg');">
            </div>
        </div>
        <div class="item">
            <div class="slider_overlay"></div>
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url('/Assets/images/slide3.jpg');">
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#mainCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#mainCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>

</header>

<div class="container">
    <div id="about">
        <div class="container">
            <div class="text">
                <h2>Bài Viết</h2>
                <br />
            </div>
            @using (Html.BeginForm("Search", "Home"))
            {
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="text" class="form-control" name="sTuKhoa" placeholder="Tìm kiếm...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Tìm kiếm</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            }
            <br />
            <h2 class="title_base">Kết quả tìm kiếm cho từ khóa "@ViewBag.TuKhoa"</h2>
            <div class="col-sm-12 col-md-12">

                @foreach (var item in Model)
                {
                    <div id="box-tin" class="col-sm-4 col-md-4">
                        <a href="@Url.Action("Chitiet","Diadanh", new { id = item.ID})">
                            <img src="@item.HINHANH" />
                        </a>
                        <a href="@Url.Action("Chitiet","Diadanh", new { id = item.ID})"><h4><b>@Html.DisplayFor(modelItem => item.TENTIN)</b></h4></a>
                        <h6>@Html.DisplayFor(modelItem => item.MOTA)</h6>
                    </div>


                }
            </div>
            <div class="col-sm-12 col-md-12 text-center">
                <div class="MenuTrang">
                    @Html.PagedListPager(Model, page => Url.Action("Search", new { @page = page, @sTuKhoa = ViewBag.TuKhoa }))
                </div>
                <style>
                    .MenuTrang li {
                        display: inline;
                    }
                </style>

            </div>

        </div>
    </div>
</div>


